@import '../../../scss/variables.scss';
$accent-04: rgba($accent, 0.4);
.button {
	border: none;
	outline: none;
	font-size: 18px;
	border-radius: 10px;
	padding: 11px 46px;
	transition: background-color 0.1s ease;
	background-color: $accent-04;
	cursor: pointer;
	color: #fff;
	&:hover {
		background-color: rgba($accent, 0.7);
	}
	.main {
		font-size: 24px;
		background-color: rgba(255, 255, 255, 0.2);
		padding: 19px 49px;
		&:hover {
			background-color: rgba($accent, 0.7);
		}
	}
}
.wrapper {
	text-align: center;
}
